{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% block primary_content_inner %}
  {{ form.errors(error_summary) }}

  <form method='post' action="" class="form-vertical" id="configedit-form">

    {{ form.textarea(
      'contents', id='field-contents', label=label, value=data.contents,
      error=errors.config, rows=20) }}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary" name="save">{{
        _('Update File') }}</button>
    </div>
  </form>
{% endblock %}

{% block secondary_content %}
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">{{ _("Files") }}</h2>
    <div class="module-content">
      <ul>
      {% for f in editable_files %}
        <li><a href="{{ h.url_for(
          controller='ckanext.fileedit.controller:FileEditController',
          action='edit_file', num=loop.index0) }}">{{ f.label }}</a></li>
      {% endfor %}
    </div>
  </div>
{% endblock %}
